<mat-dialog-content>
  <h2 class="text-center" mat-dialog-title>{{title}}</h2>
  <form class="d-flex flex-column col-auto" [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <ng-container *ngFor="let status of getStatusEnumValues()">
          <mat-option value="{{status}}">{{status}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <ng-container formArrayName="category">
      <h3 class="fw-bolder text-center">Categories</h3>
      <ng-container *ngFor="let categoryFormControl of categories.controls; let i = index">
        <div class="d-flex flex-row">
          <mat-form-field class="col-10">
            <mat-label>{{ i + 1 }}. category</mat-label>
            <input matInput type="text" [formControlName]="i"/>
          </mat-form-field>
          <button class="col-2 btn-outline-danger ml-3" mat-icon-button (click)="deleteCategoryFormControl(i)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </ng-container>
      <div class="d-flex flex-row justify-content-center">
        <button class="btn-outline-dark" mat-icon-button (click)="addCategoryFormControl()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </ng-container>
    <mat-form-field>
      <mat-label>Subject</mat-label>
      <input matInput type="text" formControlName="subject"/>
    </mat-form-field>
    <div formGroupName="period">
      <h3 class="fw-bolder text-center">Period</h3>
      <mat-form-field>
        <label>Start date</label>
        <input matInput type="date" formControlName="start"/>
      </mat-form-field>
      <mat-form-field>
        <label>End date</label>
        <input matInput type="date" formControlName="end"/>
      </mat-form-field>
    </div>
    <ng-container formArrayName="participant">
      <h3 class="fw-bolder text-center">Participants</h3>
      <ng-container *ngFor="let participantGroup of participants.controls; let i = index">
        <div class="d-flex flex-column" [formGroupName]="i">
          <mat-form-field>
            <mat-label>{{i+1}}. member's name</mat-label>
            <input matInput type="text" formControlName="member"/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>On behalf of</mat-label>
            <input matInput type="text" formControlName="onBehalfOf"/>
          </mat-form-field>
        </div>
        <button class="btn btn-outline-danger" mat-button (click)="deleteParticipantFormGroup(i)">
          <mat-icon>remove</mat-icon>
        </button>
      </ng-container>
      <div class="d-flex flex-row justify-content-center m-4">
        <button class="btn-outline-dark" mat-icon-button (click)="addParticipantFormGroup()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </ng-container>
  </form>
  <div class="d-flex flex-column align-items-center mt-2">
    <div class="col">
      <button class="btn-outline-danger" mat-button (click)="dialogRef.close()">Cancel</button>
      <button class="btn-outline-success" mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">{{btnName}}</button>
    </div>
  </div>
</mat-dialog-content>
