<h2 mat-dialog-title>Add new care team</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <ng-container *ngFor="let status of getStatusEnumValues()">
          <mat-option value="{{status}}">{{status}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <ng-container formArrayName="category">
      <h3>Categories</h3>
      <button mat-button (click)="addCategoryFormControl()">+</button>
      <ng-container *ngFor="let categoryFormControl of categories.controls; let i = index">
        <mat-form-field>
          <mat-label>{{ i + 1 }}. category</mat-label>
          <input matInput type="text" [formControlName]="i"/>
          <button mat-button (click)="deleteCategoryFormControl(i)">Remove</button>
        </mat-form-field>
      </ng-container>
    </ng-container>
    <mat-form-field>
      <mat-label>Subject</mat-label>
      <input matInput type="text" formControlName="subject"/>
    </mat-form-field>
    <div formGroupName="period">
      <h3>Period</h3>
      <mat-form-field>
        <label>Start date</label>
        <input matInput type="date" formControlName="start"/>
      </mat-form-field>
      <mat-form-field>
        <label>End date</label>
        <input matInput type="date" formControlName="end"/>
      </mat-form-field>
    </div>
    <ng-container formArrayName="participant">
      <h3>Participants</h3>
      <button mat-button (click)="addParticipantFormGroup()">+</button>
      <ng-container *ngFor="let participantGroup of participants.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label>Member's name</mat-label>
            <input matInput type="text" formControlName="member"/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>On behalf of</mat-label>
            <input matInput type="text" formControlName="onBehalfOf"/>
          </mat-form-field>
        </div>
        <button mat-button (click)="deleteParticipantFormGroup(i)">Remove</button>
      </ng-container>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">{{btnName}}</button>
</mat-dialog-actions>
