<div class="container-fluid min-height">
  <ng-container *ngIf="alertMsg !== undefined">
  <div class="alert alert-success text-center text-break m-1"  role="alert">
    {{alertMsg}}
  </div>
  </ng-container>

  <div class="d-flex flex-column justify-content-center align-items-center mt-3">
    <button class="btn btn-light btn-outline-dark" mat-icon-button (click)="openAddDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="careTeams | async as careTeamList; else loadingOrError">
    <ng-container *ngIf="careTeamList.length === 0;">
      <div class="alert alert-danger text-center text-break m-3"  role="alert">
        No registered care teams!
      </div>
    </ng-container>
    <app-care-team-card *ngFor="let care_team of careTeamList" [careTeam]="care_team" (getCareTeamId)="goToView($event)"></app-care-team-card>
  </ng-container>

  <ng-template #loadingOrError>
    <ng-container *ngIf="errorMsg; else loading">
      <p class="text-center text-danger">{{errorMsg}}</p>
    </ng-container>
  </ng-template>

  <ng-template #loading>
    <div class="d-flex flex-column justify-content-center align-items-center m-4">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>

