<div class="container-fluid min-height mt-5 mb-5">
  <div *ngIf="careTeam === undefined; then loadingOrNotFound else found"></div>

  <ng-template #loadingOrNotFound>
    <ng-container *ngIf="notFoundMsg; else loading">
      <div class="alert alert-warning text-center text-break m-1"  role="alert">
        <p class="fw-bolder">{{notFoundMsg}}</p>
      </div>
    </ng-container>
  </ng-template>

  <ng-template #loading>
    <div class="d-flex flex-column justify-content-center align-items-center m-4">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

  <ng-template #found>
    <ng-container *ngIf="alertMsg">
        <span class="d-flex flex-column col-auto alert alert-info col text-center text-break m-2"  role="alert">
          {{alertMsg}}
        </span>
    </ng-container>
    <div class="max-height d-flex flex-row justify-content-center align-items-center">
      <mat-card class="d-flex flex-column col-auto">
        <mat-card-title class="text-center text-break">{{careTeam.name}}</mat-card-title>
        <mat-card-content class="border-top border-bottom p-3 border-3 border-dark d-flex flex-column m-2">
          <div class="row">
            <p class="col-4 fw-bolder">Categories:</p>
            <p class="col-8 text-center text-break">{{categoriesToString()}}</p>
          </div>
          <div class="row">
            <p class="col-4 fw-bolder">Status:</p>
            <p class="col-8 text-center">{{careTeam.status}}</p>
          </div>
          <div class="row">
            <p class="col-4 fw-bolder">Subject:</p>
            <p class="col-8 text-center text-break">{{ careTeam.subject ? careTeam.subject : '-' }}</p>
          </div>
          <div class="row">
            <p class="col-4 fw-bolder">Period:</p>
            <p class="col-8 text-center text-break">{{ careTeam.period ? careTeam.period.start + '-' + careTeam.period.end : '-' }}</p>
          </div>
          <div class="row text-center mt-3">
            <p class="col fw-bolder">Participants</p>
          </div>
          <div class="mt-3 ml-3 mr-3">
            <ng-container *ngFor="let item of careTeam.participant">
              <div class="border-top border-3 border-dark pt-2 pb-2">
                <div class="row">
                  <p class="col fw-bolder">Member's name:</p>
                  <p class="col text-center text-break">{{ item.member }}</p>
                </div>
                <div class="row">
                  <p class="col fw-bolder">On behalf of:</p>
                  <p class="col text-center text-break">{{ item.onBehalfOf ? item.onBehalfOf : '-' }}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </mat-card-content>
        <mat-card-footer class="d-flex flex-row justify-content-center pt-2 pb-2">
          <button class="btn-outline-success" mat-button (click)="openAddDialogForUpdate()">Update</button>
          <button class="btn-outline-danger" mat-button (click)="deleteCareTeam()">Delete</button>
          <button class="btn-outline-warning" mat-button (click)="navigateBack()">Back</button>
        </mat-card-footer>
      </mat-card>
    </div>
  </ng-template>
</div>
